{% extends 'goldRabbitSite/base.html' %}
{% load static %}

{% block content %}
<div id="body_main">
    <img id="logo" src="{% static 'goldRabbitSite/images/logo.jpg'%}">
    
    <div id="reserv_main">
        <br/>
        <h3>관리자 로그인</h3><br/>
        <form method="POST">
            <p>비밀번호 : <input name="pwd"type="password" class="form-control-sm input-data"/></p>
            <div style="margin-top:20px; margin-bottom:20px">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" formaction="{% url 'goldRabbitSite:admin' %}">검색</button>
            </div>
        </form>
    </div>
    </form>

</div>

<style>
    #logo{
        display:block;
        width : 20%;
        margin : 0 auto;
        margin-top : 20px;
        margin-bottom : 20px;
    }

    #reserv_main{
        border: 4px solid rgb(254,222,15);
        border-radius : 60px;
        text-align : center;
        width : 80%;
        margin : auto;
    }

    .input-data{
        width:50%;
    }
</style>
{% endblock %}