{% extends 'goldRabbitSite/base.html' %}
{% load static %}

{% block content %}
<div id="body_main">
    <img id="logo" src="{% static 'goldRabbitSite/images/logo.jpg'%}">
    
    <div id="calendar_layout">
    <div id='calendar'></div>
    <div>
    <div id="modal" class="modal-overlay">
        <div class="modal-window container">
            <div id="day_title" class="title">
            </div>
            <div class="content">
                <form method="POST">
                    {% csrf_token %}
                <ul id="day_list">
                
                </ul>
                </form>
            </div>
            <form method="post" id="button_layout" class="row justify-content-center">
                {%csrf_token%}
                <input type="hidden" id="select_date" name="select_date" value = ""/>
                <button type="submit" id="go_reservate"  class="btn btn-primary" role="button">예약하기</button>
            </form>
        </div>
    </div>
</div>


<script>
    var reservList = JSON.parse("{{reservedList|escapejs}}");
    var eventsList = []
    for (let val of reservList){
        console.log(val);
        eventsList.push({title: "~"+val.reserved_end+":00",
                    start: val.reserved_date+"T"+val.reserved_start+":00:00",
                end : val.reserved_date+"T"+val.reserved_end+":00:00",
                allDay:false,})
    }
    document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                eventClick:function(info){

                    let g = document.getElementById('day_title');
                    while(g.hasChildNodes()) {
                        g.removeChild(g.firstChild);
                    }
                    let obj2 = document.createElement('h3');
                    var tday = info.event.start.getDate();
                    console.log(info.event.start.getFullYear());
                    console.log(info.event.start.getYear());
                    var full_date = info.event.start.getFullYear()+"-"+(parseInt(info.event.start.getMonth())+1)+"-"+info.event.start.getDate();
                    document.getElementById("select_date").value = full_date;
                    
                    obj2.innerText = tday+"일 예약 현황";
                    g.appendChild(obj2);

                    let h = document.getElementById('go_reservate');
                    h.setAttribute("formaction", "{% url 'goldRabbitSite:reservate' %}");
                    
                    let f = document.getElementById('day_list');
                    while(f.hasChildNodes()) {
                        f.removeChild(f.firstChild);
                    }
                    for (let val of reservList){
                        console.log(val.reserved_date.substr(-2) , tday);
                        if (val.reserved_date.substr(-2) == tday){
                            let obj;
                            obj = document.createElement('li');

                            obj.innerText = val.reserved_start+"~"+val.reserved_end+"　"+val.reserved_name+"　　　"+val.reserved_status;
                            f.appendChild(obj);

                            let button1 = document.createElement('button');
                            button1.setAttribute('type', 'submit');
                            button1.setAttribute('formaction', '{% url "goldRabbitSite:success" %}');
                            button1.setAttribute('name', 'id');
                            button1.setAttribute('value', val.id);
                            button1.setAttribute('class', 'btn btn-primary');
                            button1.setAttribute('style', 'margin : 5px 10px 20px 0px');
                            button1.innerText = "완료";
                            
                            f.appendChild(button1);

                            let button2 = document.createElement('button');
                            button2.setAttribute('type', 'submit');
                            button2.setAttribute('formaction', '{% url "goldRabbitSite:wait" %}');
                            button2.setAttribute('name', 'id');
                            button2.setAttribute('value', val.id);
                            button2.setAttribute('class', 'btn btn-primary');
                            button2.setAttribute('style', 'margin : 5px 10px 20px 0px');
                            button2.innerText = "대기"

                            f.appendChild(button2);

                            let button3 = document.createElement('button');
                            button3.setAttribute('type', 'submit');
                            button3.setAttribute('formaction', '{% url "goldRabbitSite:delete" %}');
                            button3.setAttribute('name', 'id');
                            button3.setAttribute('value', val.id);
                            button3.setAttribute('class', 'btn btn-primary');
                            button3.setAttribute('style', 'margin : 5px 5px 20px 0px');
                            button3.innerText = "삭제"
                            f.appendChild(button3);
                        }
                    }
                    modal.style.display = "flex";
                },
                dateClick:function(info) {
                    {% comment %} let f = document.getElementById('send_date');

                    let obj;
                    obj = document.createElement('input');
                    obj.setAttribute('type', 'hidden');
                    obj.setAttribute('name', 'today_date');
                    obj.setAttribute('value', info);
                    
                    f.appendChild(obj);
                    f.setAttribute('method', 'post');
                    f.setAttribute('action', "{% url 'goldRabbitSite:reservate' %}");
                    document.body.appendChild(f);
                    f.submit(); {% endcomment %}
                    
                    document.getElementById("select_date").value = info.dateStr;

                    let g = document.getElementById('day_title');
                    while(g.hasChildNodes()) {
                        g.removeChild(g.firstChild);
                    }
                    let obj2 = document.createElement('h3');
                    var tday = info.dateStr.substr(-2);
                    obj2.innerText = "　"+tday+"일 예약 현황";
                    g.appendChild(obj2);

                    let h = document.getElementById('go_reservate');
                    h.setAttribute("formaction", "{% url 'goldRabbitSite:reservate' %}");
                    
                    let f = document.getElementById('day_list');
                    while(f.hasChildNodes()) {
                        f.removeChild(f.firstChild);
                    }
                    for (let val of reservList){
                        if (val.reserved_date === info.dateStr){
                            let obj;
                            obj = document.createElement('li');
                            obj.innerHTML = val.reserved_start+"~"+val.reserved_end+"　"+val.reserved_name+"　　　"+val.reserved_status;
                            f.appendChild(obj);

                            let button1 = document.createElement('button');
                            button1.setAttribute('type', 'submit');
                            button1.setAttribute('formaction', '{% url "goldRabbitSite:success" %}');
                            button1.setAttribute('name', 'id');
                            button1.setAttribute('value', val.id);
                            button1.setAttribute('class', 'btn btn-primary');
                            button1.setAttribute('style', 'margin : 5px 10px 20px 0px');
                            button1.innerText = "완료";
                            
                            f.appendChild(button1);

                            let button2 = document.createElement('button');
                            button2.setAttribute('type', 'submit');
                            button2.setAttribute('formaction', '{% url "goldRabbitSite:wait" %}');
                            button2.setAttribute('name', 'id');
                            button2.setAttribute('value', val.id);
                            button2.setAttribute('class', 'btn btn-primary');
                            button2.setAttribute('style', 'margin : 5px 10px 20px 0px');
                            button2.innerText = "대기"

                            f.appendChild(button2);

                            let button3 = document.createElement('button');
                            button3.setAttribute('type', 'submit');
                            button3.setAttribute('formaction', '{% url "goldRabbitSite:delete" %}');
                            button3.setAttribute('name', 'id');
                            button3.setAttribute('value', val.id);
                            button3.setAttribute('class', 'btn btn-primary');
                            button3.setAttribute('style', 'margin : 5px 5px 20px 0px');
                            button3.innerText = "삭제"
                            f.appendChild(button3);


                        }
                    }
                    modal.style.display = "flex";

                }
                ,
                headerToolbar: {
                    {% comment %} left : 'notify', {% endcomment %}
                    left:'',
                    center: 'prev title next',
                    right: ''
                },
                //공지버튼
                customButtons: {
                        notify:{
                        text: '🔈',
                        click: function() {
                            modal.style.display = "flex"
                        }
                    }
                },
                slotMinTime : '13:00',
                slotMaxTime : '25:00',
                events: eventsList,
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false,
                    hour12:false
                },
                dayHeaderContent: function (date) {
                let weekList = ["일", "월", "화", "수", "목", "금", "토"];
                return weekList[date.dow];
                },
                // YYYY년 MM월
                titleFormat: function(date) {
                    return `${date.date.year}년 ${date.date.month + 1}월`;
                },
                contentHeight: 470
            });


        console.log(eventsList)
        calendar.render();
    });



    const modal = document.getElementById("modal")
    function modalOn() {
        modal.style.display = "flex"
    }
    function isModalOn() {
        return modal.style.display === "flex"
    }
    function modalOff() {
        modal.style.display = "none"
    }
    modal.addEventListener("click", e => {
        const evTarget = e.target
        if(evTarget.classList.contains("modal-overlay")) {
            modalOff()
        }
    })
    window.addEventListener("keyup", e => {
        if(isModalOn() && e.key === "Escape") {
            modalOff()
        }
    })
</script>

<style>
    #body_main{
        border : 1px 1px 1px 1px;
    }
    #calendar{
        width : 95%;
        margin: 0 auto;
        margin-top : 20px;
        margin-bottom : 30px;
    }
    #logo{
        display:block;
        width : 20%;
        margin : auto;
        margin-top : 20px;
        margin-bottom : 20px;
    }
    .fc-toolbar-chunk {
        display: flex; 
        align-items: center; 
      }
    .fc-toolbar-title {
        font-size : larger;
    }
    #modal {
        z-index : 1050;
    }
    .modal-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
    .modal-window {
        background: rgba( 255, 210, 255, 1 );
        box-shadow: 0 8px 32px 0 rgba( 254, 222, 15, 0.37 );  <!--31,38,135-->
        backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 70%;
        height: 50%;
        position: relative;
        top: -100px;
        padding: 10px;
        display:table;
    }
    .title {
        padding-left: 10px;
        display: inline;
        text-shadow: 1px 1px 2px gray;
        color: purple;
        
    }
    .title h2 {
        display: inline;
    }

    
    .content {
        margin-top: 20px;
        padding: 0px 10px;
        text-shadow: 1px 1px 2px gray;
        color: purple;
    }

    #calendar_layout{
        border: 4px solid rgb(254,222,15);
        border-radius : 60px;
    }

    #button_layout{
        width:40%;
        margin : auto;
        position : absolute;
        top : 80%;
        left : 30%;

    }

</style>
{% endblock %}