{% extends 'goldRabbitSite/base.html' %}
{% load static %}

{% block content %}

<img id="logo" src="{% static 'goldRabbitSite/images/logo.jpg'%}">
<div id="noti_main">
  <div>
    <h3 style="text-align:center; margin-top:6%; margin-bottom:3%">공지 사항</h3>
    {% if user.is_authenticated %}
    <button type="submit" id="reserv_notice" formaction="{% url 'goldRabbitSite:reservate_noti' %}" 
            class="btn btn-primary btn-sm" role="button" style="margin-bottom:20px;margin-right:20px;float:right">
            글쓰기</button>
    {% endif %}
  </div>
  <div id="noti_table" class="container row" style="margin-bottom:40px">
  <table class="table" style="text-align:center">
      <thead>
        <tr>
          <th class="col-1" scope="col">#</th>
          <th class="col-8" scope="col">제 목</th>
          <th class="col-3" scope="col">작성일</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
        {% for notify in notifyList %}
        <form type="GET">
          {% csrf_token %}
        <tr onclick="location.href='{{notify.id}}'">
          <th scope="row">{{forloop.counter}}</th>
          <td>{{notify.noti_title}}
          </td>
          <td>{{notify.noti_date}}</td>
        </tr>
      </form>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<style>
    #noti_table{
        margin : 0 auto;
    }

    
  #logo{
      display:block;
      width : 30%;
      margin : 0 auto;
      margin-top : 20px;
      margin-bottom : 20px;
  }

  #noti_main{
      border: 4px solid rgb(254,222,15);
      border-radius : 60px;
      text-align : center;
      width : 80%;
      margin : auto;
  }

</style>
{% endblock %}