{% extends 'goldRabbitSite/base.html' %}
{% load static %}

{% block content %}
 공지사항 페이지

 <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제 목</th>
        <th scope="col">작성일</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      {% for notify in notifyList %}
      <tr>
        <th scope="row">{{}}</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>          
{% endblock %}